@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://i.pinimg.com/originals/20/0f/2b/200f2be79349cd666edc348dafaf45f5.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: white;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}





